name: 'build-test'

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run check-all
      - name: Ensure dist/index.js is up to date
        run: |
          npm run package
          [[ -z $(git status -s) ]] || { echo "Files were modified"; exit 1; }

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: '3'
      - run: pip install mypy
      - uses: actions/checkout@v2
      - uses: ./
